<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Giao việc cho người khac</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>

        #userSuggestionList li {
            list-style: none;
            padding: 10px;
            cursor: pointer;
        }

        #userSuggestionList li:hover {
            background-color: #f0f0f0;
        }
    </style>

</head>
<body style="background-color: #F0F0F0">

<!--HEADER START-->

<div class="d-inline-flex" style="width: 80%; margin-left: 10%; border: solid black; border-radius: 10px;">
    <!-- Logo start -->
    <div>
        <button id="home" type="button" class="btn btn-light" style="border: #F0F0F0;">
            <img src="/working-man.jpg" class="img-fluid" style="width: 100px; height: 50px">
            <h1>Working Man</h1>
        </button>
    </div>
    <!-- Logo end -->
    <div class="d-inline-flex">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="width: 100%; margin-top: 40px;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button id="MyTask" type="button" class="nav-link" style="margin-top: -5%; margin-left: 20%; width: 200px;color: black; font-size: 20px; font-weight: bolder;">
                            VIỆC CỦA TÔI
                        </button>
                    </li>
                    <li class="nav-item">
                        <button id="Assign" type="button" class="nav-link" style="color: black; margin-top: -5%; margin-left: 20%; width: 200px; font-size: 20px; font-weight: inherit;">
                            VIỆC TÔI GIAO
                        </button>
                    </li>
                    <li class="nav-item">
                        <button id="Report" type="button" class="nav-link" style="color: black; margin-top: -5%; margin-left: 20%; width: 200px; font-size: 20px; font-weight: inherit;">
                            BÁO CÁO
                        </button>
                    </li>
                    <li class="nav-item">
                        <button id="Statistic" type="button" class="nav-link" style="color: black; margin-top: -5%; margin-left: 20%; width: 200px; font-size: 20px; font-weight: inherit;">
                            THỐNG KÊ
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- User field start -->
        <div class="dropdown" style="margin-top: 2%; margin-left: 10%; margin-right: 2%;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="width: 200px;" data-bs-toggle="dropdown" aria-expanded="false">
                <img id="currUser" src="" alt="Profile" class="profile-image" style="width: 120px; height: 120px; border-radius: 50%;">
            </button>
            <h4 id="hello" class="d-flex justify-content-center" width="300px">Xin chào, </h4>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="http://localhost:8080/profile">Hồ sơ</a>
                <a class="dropdown-item" href="http://localhost:8080/login">Đăng xuất</a>
            </div>
        </div>
        <!-- User field end -->
    </div>
</div>
<div class="d-inline-flex" style="width: 80%; margin-left: 10%; border: solid white; border-radius: 10px;">
</div>
<!--HEADER END-->


<!--BODY START-->

<div id="Body" class="d-inline-flex" style="width: 80%; margin-left: 10%; border: solid black; border-radius: 10px; padding-bottom: 5%;">
    <form id="formTask" action="" class="form-control border-1 p-4" style="margin-top: 2%; border: 2px solid black; margin-left: 23%; border-radius: 10px; width: 800px;">
        <h1 class="text-center">Đánh giá kết quả công việc</h1>
        <div class="mb-3 text-center">
            <label for="TaskDescription" class="form-label font-weight-bold">CÔNG VIỆC</label>
            <input id="TaskDescription" type="text" class="form-control" style="border-radius: 20px;">
        </div>
        <div class="mb-3 text-center">
            <label for="Deadline" class="form-label font-weight-bold">THỜI HẠN</label>
            <input id="Deadline" type="date" class="form-control" style="border-radius: 20px;">
        </div>
        <div class="mb-3 text-center">
            <label for="Issue" class="form-label font-weight-bold">GHI CHÚ</label>
            <input id="Issue" type="text" class="form-control" style="border-radius: 20px;">
        </div>
        <!-- Dropdown User choice -->
        <div class="search-container mb-3 text-center">
            <label for="userInput" class="form-label font-weight-bold">NGƯỜI ĐƯỢC GIAO</label>
            <input id="userInput" class="form-control" type="text" placeholder="Search Users..." style="border-radius: 20px;">
        </div>
        <div class="search-container mb-3 text-center">
            <label for="Evaluate" class="form-label font-weight-bold me-4">ĐÁNH GIÁ</label>
            <select id="Evaluate" style="border-radius: 10px;">
                <option>ĐẠT</option>
                <option>KHÔNG ĐẠT</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="border-radius: 10px; width: 150px;">ĐÁNH GIÁ</button>
        </div>
    </form>
</div>

<!--BODY END-->


<script>

    $.ajax({
        url: 'user/currUser',
        type: 'GET',
        success : function (response){
            document.getElementById('hello').append(response.username);
            document.getElementById('currUser').src = response.image;
        }, error : function (xhr, status, error){
            console.log(error);
        }
    })

    $('#home').on('click', function(){
        window.location.href='http://localhost:8080/'
    })
    $('#MyTask').on('click', function(){
        window.location.href='http://localhost:8080/'
    })
    $('#Assign').on('click', function(){
        window.location.href='http://localhost:8080/'
    })
    $('#Statistic').on('click', function(){
        window.location.href='http://localhost:8080/'
    });

    // Task fetching here
    const pathname = window.location.pathname;

    const parts = pathname.split('/');

    const taskID = parts[parts.length - 1];
    $(document).ready(function (){
        $.ajax({
            url : 'http://localhost:8080/task/find/'+taskID,
            type: 'GET',
            success: function (response){
                $('#TaskDescription').val(response.taskDescription);
                $('#Deadline').val(response.deadline);
            }, error: function (xhr, status, error){
                console.log(error);
            }
        })
    })
    $(document).ready(function (){
        $.ajax({
            url : 'http://localhost:8080/issue/find/'+taskID,
            type: 'GET',
            success: function (response){
                $('#Issue').val(response.description);
            }, error: function (xhr, status, error){
                console.log(error);
            }
        })
    })

    $(document).ready(function (){
        $.ajax({
            url : 'http://localhost:8080/assign/recipient/'+taskID,
            type: 'GET',
            success: function (response){
                $('#userInput').val(response.username);
            }, error: function (xhr, status, error){
                console.log(error);
            }
        })
    })

    // User fetching here

    document.getElementById('formTask').addEventListener('submit', function(event){
        event.preventDefault();
        var formData = {
            taskID : taskID,
            result: document.getElementById('Evaluate').value
        }
        console.log(formData)
        $.ajax({
            url: 'http://localhost:8080/task/evaluate',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (response) {
                alert("Đánh giá thành công!!");
                window.location.replace("http://localhost:8080")
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    })
</script>
</body>
</html>