<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bảng làm việc</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #F0F0F0">
<!--HEADER START-->

<div class="d-inline-flex" style="width: 80%; margin-left: 10%; border: solid black; border-radius: 10px;">
    <!-- Logo start -->
    <div>
        <button id="home" type="button" class="btn btn-light" style="border: #F0F0F0;">
            <img src="/working-man.jpg" class="img-fluid" style="width: 100px; height: 50px">
            <h1>Working Man</h1>
        </button>
    </div>
    <!-- Logo end -->
    <div class="d-inline-flex">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="width: 100%; margin-top: 40px;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <!-- Navbar End -->

        <!-- User field start -->
        <div class="dropdown d-flex align-content-end" style="margin-top: 1% ;margin-left: 100%; margin-right: 2%; width: 50%;">
            <a href="login">
                <button class="btn btn-secondary dropdown-toggle" type="button" style="margin-top: 30%;">
                    Đăng nhập
                </button>
            </a>
        </div>
        <!-- User field end -->
    </div>
</div>

<div class="d-inline-flex" style="width: 80%; margin-left: 10%; border: solid black; border-radius: 10px;">
</div>
<!--HEADER END-->
<!--BODY START-->

<div id="Body" class="d-inline-flex" style="width: 80%; margin-left: 10%; border: solid black; border-radius: 10px; padding-bottom: 5%;">
    <form id="formRegister" action="" class="border border-dark rounded p-4 mx-auto" style="max-width: 800px; margin-top: 2%;">
        <h1 class="text-center mb-4">Đăng ký tài khoản Working Man</h1>

        <div class="form-group text-center">
            <label class="font-weight-bold">TÀI KHOẢN</label>
            <input id="Username" type="text" class="form-control" style="border-radius: 20px;" required>
        </div>

        <div class="form-group text-center">
            <label for="Email" class="font-weight-bold">EMAIL</label>
            <input id="Email" type="text" class="form-control" style="border-radius: 20px;" required>
        </div>

        <div class="form-group text-center">
            <label class="font-weight-bold">MẬT KHẨU</label>
            <input id="Password" type="password" class="form-control" style="border-radius: 20px;" required>
        </div>

        <div class="form-group text-center">
            <label for="Retype" class="font-weight-bold">NHẬP LẠI MẬT KHẨU</label>
            <input id="Retype" type="password" class="form-control" style="border-radius: 20px;" required>
        </div>

        <div class="form-group text-center">
            <label for="image" class="font-weight-bold font-size-20 mt-3">HÌNH ẢNH</label>
            <input id="image" type="file" class="form-control-file" required>
        </div>

        <input type="submit" value="ĐĂNG KÝ" style="margin-left: 100px; margin-top: 20px; border-radius: 10px; width: 150px; height: 50px; color: white; background-color: royalblue">
        <button type="button" onclick="window.location.href='http://localhost:8080/login';" style="margin-left: 90px; margin-top: 20px; border-radius: 10px; width: 150px; height: 50px; color: white; background-color: royalblue">ĐĂNG NHẬP</button>
    </form>
</div>

<!--BODY END-->
<!--Function Start here-->
<script>
     document.getElementById('formRegister').addEventListener('submit', function (event){
         event.preventDefault();
         // Check if retype password is correct or not
         if(document.getElementById('Retype').value === document.getElementById('Password').value){
             // Get data
             var formRegister ={
                 username : document.getElementById('Username').value,
                 password : document.getElementById('Password').value,
                 email : document.getElementById('Email').value
             }

             // Create request
             $.ajax({
                 url : 'user/register',
                 type : 'POST',
                 contentType : 'application/json',
                 data: JSON.stringify(formRegister),
                 success : function (response){
                     alert('Đăng kí thành công, chuyển về trang đăng nhập!!');
                     window.location.replace('http://localhost:8080/login');
                 },error:function (xhr, status, error){
                     console.log(error);
                 }
             })
         }else{
             alert("Nhập lại mật khẩu chưa chính xác, vui lòng kiểm tra lại!!! ");
         }
     })
</script>
</body>
</html>